@tailwind base;
@tailwind components;
@tailwind utilities;

.fiery-button {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(to right, #ff512f, #dd2476);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 999px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.fiery-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff512f, 0 0 40px #ff512f, 0 0 60px #ff512f;
}



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
